@{
    ViewBag.Title = "Početna";
}

<h2 class="text-dark font-weight-bold text-center font-italic">Welcome to Zrak Forum</h2>
<h2 class="text-dark font-weight-bold text-center font-italic">Zrak Forum is fictional forum made for fun and studying purposes</h2>
<h2 class="text-dark font-weight-bold text-center font-italic">
    Source code: <a href="https://github.com/rodjenihm/ZrakForum" target="_blank">github</a>
</h2>
