/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 15px;
}


@media(max-width:640px) {
    html, body {
        font-size: 12px;
    }
}

body {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 192px;
    width: 192px;
    display: block;
}

.navbar-brand {
    font-size: 20px;
    font-family: cursive;
}

.content {
    min-height: calc(100vh - 213px - 60px);
    padding-top: 20px;
    background: url('../img/background.jpg') no-repeat;
    background-color: rgba(225, 225, 225, 0.80);
    background-blend-mode: lighten;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.footer {
    margin-top: auto;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(32, 32, 32, 0.9);
    color: white;
    text-align: center;
}

.text-danger {
    font-weight: bolder;
}
