<nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-grow-1 border-bottom">
    <div class="container">
        <img class="navbar-brand logo" src="~/img/logo.ico" alt="Logo">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Vlasotince Forum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-right" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            </ul>
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link active" asp-action="Index" asp-controller="Home">Početna</a>
                </li>
            </ul>
            <partial name="_AuthPartial">
        </div>
    </div>
</nav>

